<p>選択してください：</p>

  <div class="card-container">
    <a class="card" rel="noopener" [routerLink]="['/camera360', 'allTheSame']">
      <span>360度ビデオ再生（同じ動画）</span>
    </a>

        <a class="card" rel="noopener" [routerLink]="['/camera360', 'allDifferent']">
      <span>360度ビデオ再生（別の動画）</span>
    </a>

    <a class="card" rel="noopener" [routerLink]="['/video', 'buttonStart']">
      <span>ボタンでビデオ切替</span>
    </a>

    <a class="card" rel="noopener" [routerLink]="['/video', 'shakeStart']">
      <span>シェイクでビデオ切替</span>
    </a>
    <a class="card" rel="noopener" [routerLink]="['/video', 'allStart']">
      <span>すぐスタート、シェイクでビデオ切替</span>
    </a>

  </div>